<header class="fullscreen-element">
	<div class="background-image-holder parallax-background overlay">
		<%= image_tag('bg-7.jpg', class: 'background-image', alt: 'Background') %>
	</div>

	<div class="container align-vertical hero">
		<div class="row">
			<div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7 text-left">
				<h1>Modern Store</h1>
				<p>I’ve heard the argument that “lorem ipsum” is effective in wireframing or design because it helps people focus on the actual layout, or color scheme, or whatever. What kills me here is that we’re talking about creating a user experience that will (whether we like it or not) be DRIVEN by words. The entire structure of the page or app flow is FOR THE WORDS</p>
				<div class="button-group">
					<%= link_to 'Shop Now', root_path, class: "btn btn-default" %>
				</div>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</header>

<div class="action-bar">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<%= link_to root_path do %>
					<span data-icon="v" class="icon"></span> <span class="text">Fast Delivery</span>
				<% end %>
			</div>
			<div class="col-sm-4">
				<%= link_to root_path do %>
					<span data-icon="/" class="icon"></span> <span class="text">Adjustable</span>
				<% end %>
			</div>
			<div class="col-sm-4">
				<%= link_to root_path do %>
					<span data-icon="7" class="icon"></span> <span class="text">Inovative</span>
				<% end %>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>

<section>
	<div class="background-image-holder overlay">
		<%= image_tag("bg-2.jpg", class: "background-image", alt: "Background Image") %>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-5 text-left">
				<h2 class="page-title">Our policy</h2>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<%= link_to 'Shop Now', class: 'btn btn-primary' %>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</section>

<br>

<h2 class="page-title text-center"> Featured Products </h2>


<section>
	<div class="background-image-holder on-page overlay">
		<%= image_tag('bg-3.jpg', class: 'background-image', alt: 'Background Image') %>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-7 text-right">
				<h2 class="page-title">My Store<span class="accent-color">.</span></h2>
				<p class="description">Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs to be filled with real words, with thoughts that count, information that has value.</p>
				<a href="#" class="btn btn-primary">Shop Now</a>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</section>
